.menu-container {
  width: 100%;
  height: 20vw;
  background-color: #252d40;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__list {
  margin: 0 auto;
  list-style: none;
  width: 90%;
  height: 10vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  gap: 20px;
}
.menu__item {
  width: 100%;
  height: 10vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__dashboard {
  /* width: 100%;
  height: 100%; */
  background: url('../../assets/images/burger.svg') no-repeat 50% 50%;
}
.item__link {
  width: 100px;
  height: 100%;
}
.item__megabot {
background: url('../../assets/images/ToolbarChart.svg') no-repeat 50% 50%;
}
.item__botmarket {
 background: url('../../assets/images/ToolbarCart.svg') no-repeat 50% 50%;
}
.item__coinprices {
 background: url('../../assets/images/ToolbarCoin.svg') no-repeat 50% 50%;
}
.item__profile {
 background: url('../../assets/images/ToolbarSettings.svg') no-repeat 50% 50%;
}
.item__dashboard,
.item__megabot,
.item__botmarket,
.item__coinprices,
.item__profile {
  background-size: contain; 
  width: 13vw;
}